@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Urbanist", sans-serif;
}
body {
  background: #131a1c;
}

:root {
  --background-1: #303030;
  --background-2: #ff6a00;
  --background-3: #4a4a4a;
  --background-4: #131a1c;
  --background-button: #4d194d;
  --font-color-1: #ffffff;
  --font-color-2: rgba(126, 126, 126, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff90;
}

p,
li {
  color: #b0b0b0;
}
/*------------------------General Classe------------------*/

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: auto;
}

/*-------------------------Nav Bar-----------------------*/

.navbar {
  background: var(--background-3);
  position: sticky;
  top: 0;
  z-index: 50;

  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.navbar a {
  text-decoration: none;
  color: var(--font-color-1);
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 5px;
}

.nav-bar-list,
.nav-bar-items {
  display: flex;
  flex-direction: row;
  color: var(--font-color-2);
}

.nav-bar-list li {
  list-style: none;
}

.nav-bar-list {
  color: white;
  gap: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-bar-list a {
  transition: all 0.3s;
}
.nav-bar-list a:hover {
  color: #cb3cff;
}

/*-------------------Section 1------------------*/

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 20px;
  justify-items: center;
  margin-top: 50px;
}
.skills-block {
  height: 100%;
}

.profile,
.skills-block,
.resume-block,
.contact-and-links,
.project-summary,
.project-name,
.projects-heading {
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.profile:hover,
.skills-block:hover,
.resume-block:hover,
.contact-and-links:hover,
.project-summary:hover,
.project-name:hover,
.project-description:hover,
.project-gif:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.project-description,
.project-gif {
  border-radius: 8px 8px 0 0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.project-gif img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 420px;
}
.profile {
  background: var(--background-1);
  padding: 20px;
  color: var(--font-color-2);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.profile-pic {
  height: 100%;
}

.profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.skills-and-resume {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
}
.skills-block,
.resume-block,
.contact-and-links {
  background: var(--background-1);
  padding: 20px;
  color: var(--font-color-1);
  width: 100%;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.skills-list img {
  width: 75%;
  object-fit: contain;
  height: 50%;
}
.skills-list i {
  font-size: 20px;
}

.skills-list li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.resume-block {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume {
  background: var(--background-button);
  padding: 20px;
  width: 100%;
  transition: all 0.3s;
}

.resume a {
  text-decoration: none;
}

.resume:hover {
  background: white;
}

.resume:hover p {
  color: black;
}
.contact-and-links {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.contact-list li {
  list-style: none;
}

.contact-list li a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--font-color-1);
  text-decoration: none;
  align-items: center;
}
.contact-list li a i {
  font-size: 30px;
}
.contact-list li p {
  transition: all 0.3s;
}

.contact-list li:hover p {
  color: #cb3cff;
}

.project-summary {
  background: var(--background-3);
  padding: 20px;
  width: 100%;
  color: var(--font-color-1);
  text-align: center;
}

.project-summary-pic {
  margin-top: 20px;
}
.project-summary-pic img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
}
.project-name-2 {
  grid-column: 3;
  grid-row: 1;
}
.project-name-2 a:hover i {
  color: black;
}
.project-name-2 a:hover {
  transition: all 0.3s;
}
.project-name-2 a:hover {
  background: white;
}

.project-description-1 {
  grid-column: 2;
}
/*-----------------------------Projects-section------------------*/

.projects-section {
  margin-top: 20px;
  background: #1d1d1d;
  padding: 40px;
  position: relative;
  margin: 100px 0;
  border-radius: 8px;

  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.projects-heading {
  background: var(--background-3);
  color: var(--font-color-1);
  text-align: center;
  padding: 15px;
  max-width: 300px;
  width: 100%;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.project {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 3.5fr;
  gap: 20px;
  margin-top: 60px;
  padding: 0 10px;
  transform: translateY(50px);
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
}

.line {
  width: calc(100% + 10px);
  height: 10px;
  background: var(--background-3);
  grid-column: 1 / span 3;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.project.show {
  opacity: 1;
  transform: translateY(0);
}

.project-gif {
  background: var(--background-1);
  padding: 20px;
  grid-row: 1 / span 2;
}

.project-details {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 3.5fr;
}

.project-name {
  background: var(--background-3);
  color: var(--font-color-1);
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-name a {
  text-decoration: none;
  color: var(--font-color-1);
  display: flex;
  background: var(--background-button);
  padding: 20px;
  gap: 20px;
  text-align: center;
  width: 100%;
  align-items: center;
  transition: all 0.3s;
  justify-content: center;
}

.project-name-2 p {
  transition: all 0.3s;
}
.project-name-2 a:hover p {
  color: black;
}
.project-name-2 a p {
  transition: all 0.3s;
}
.project-description {
  background: var(--background-1);
  padding: 20px;
  color: var(--font-color-1);
}

.project-description ul {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 998px) {
  .line {
    transform: translateX(-51.5%);
  }

  .section-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 2fr 0.5fr;
  }
  .skills-and-resume {
    grid-row: 3;
  }

  .project-summary {
    grid-column: 1 / span 2;
  }
  .skills-and-resume {
    flex-direction: row;
    grid-column: 1 / span 2;
  }

  .project {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
  }

  .project-gif {
    grid-column: 1 / span 2;
    grid-row: 2;
    max-height: 400px;
  }
  .project-name-1 {
    grid-row: 1;
    grid-column: 1;
  }
  .project-description-1 {
    grid-row: 3;
    grid-column: 1;
  }
  .project-name-2 {
    grid-row: 1;
    grid-column: 2;
  }

  .project-description-2 {
    grid-row: 3;
    grid-column: 2;
  }
  .nav-bar-list,
  .nav-bar-items {
    display: flex;
    flex-direction: column;
  }

  .nav-bar-list {
    position: static;
    flex-direction: row;
    transform: translate(0);
  }

  .project-summary-pic img {
    max-height: 400px;
  }
  .nav-bar-items span {
    display: none;
  }
}

@media (max-width: 550px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
  }

  p,
  li {
    font-size: 12px;
  }
  .line {
    transform: translateX(-51%);
  }

  .section-1 {
    display: flex;
    flex-direction: column;
  }

  .contact-list {
    position: static;
    transform: translate(0);
    margin-top: 10px;
  }
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr 2fr 2fr;
  }

  .project-name-1 {
    grid-row: 1;
    grid-column: 1;
  }
  .project-name-2 {
    grid-row: 2;
    grid-column: 1;
  }
  .project-gif {
    grid-row: 3;
    grid-column: 1;
  }
  .project-description-1 {
    grid-row: 4;
    grid-column: 1;
  }
  .project-description-2 {
    grid-row: 5;
    grid-column: 1;
  }
  .projects-section {
    padding: 40px 10px;
  }
  .resume-block {
  }
}

@media (max-width: 440px) {
  .skills-and-resume {
    flex-direction: column;
  }
}
